    <!DOCTYPE html>
    <html lang="">
        <head>
            <meta charset="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title></title>

        </head>
        <body>

            <section id="header">

            </section>

            <footer class="footer">
                <div class="container">
                    {# footer content #}
                </div>
            </footer>

        </body>
    </html>