{% extends 'layouts/main.twig' %}

{% block head %}
{{ parent() }}
    <title>title</title>

{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
    {{ parent() }}
    <h2>footer</h2>
{% endblock %}
